@font-face {
  font-family: "iconfont"; /* Project id 3929567 */
  src: url('iconfont.woff2?t=1689300443625') format('woff2'),
       url('iconfont.woff?t=1689300443625') format('woff'),
       url('iconfont.ttf?t=1689300443625') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-front-SingleArrow:before {
  content: "\e8b0";
}

.icon-topupdate:before {
  content: "\e730";
}

.icon-menuMaterial:before {
  content: "\e72f";
}

.icon-moveUD:before {
  content: "\e72d";
}

.icon-moveLR:before {
  content: "\e72e";
}

.icon-filldown:before {
  content: "\e72b";
}

.icon-fillup:before {
  content: "\e72c";
}

.icon-listcheck:before {
  content: "\e728";
}

.icon-listcheckout:before {
  content: "\e729";
}

.icon-listphoto:before {
  content: "\e72a";
}

.icon-childnodecube:before {
  content: "\e726";
}

.icon-rootdirectorycube:before {
  content: "\e727";
}

.icon-minus:before {
  content: "\e719";
}

.icon-childnode:before {
  content: "\e71a";
}

.icon-rootdirectory:before {
  content: "\e71b";
}

.icon-topcheckin:before {
  content: "\e71c";
}

.icon-setting:before {
  content: "\e71d";
}

.icon-topcancelcheckin:before {
  content: "\e71e";
}

.icon-plus:before {
  content: "\e71f";
}

.icon-topcheckout:before {
  content: "\e720";
}

.icon-topupload:before {
  content: "\e721";
}

.icon-toprenovate:before {
  content: "\e722";
}

.icon-warning:before {
  content: "\e723";
}

.icon-toprecord:before {
  content: "\e724";
}

.icon-topencoded:before {
  content: "\e725";
}

.icon-menuSetting:before {
  content: "\e718";
}

.icon-menuSearch:before {
  content: "\e715";
}

.icon-menuUpload:before {
  content: "\e716";
}

.icon-reduce:before {
  content: "\e6e8";
}

.icon-amplify:before {
  content: "\e6e6";
}

.icon-save:before {
  content: "\e712";
}

.icon-front-content-openmode:before {
  content: "\e6f8";
}

.icon-close:before {
  content: "\e6f4";
}

.icon-minimize:before {
  content: "\e6e9";
}

.icon-edit:before {
  content: "\e6dd";
}

.icon-file:before {
  content: "\e6e0";
}

.icon-delete:before {
  content: "\e6e1";
}

.icon-fold:before {
  content: "\e6e2";
}

.icon-search:before {
  content: "\e6e3";
}

.icon-a-Materialwarehouse:before {
  content: "\e6e4";
}

.icon-add:before {
  content: "\e6e5";
}

.icon-link:before {
  content: "\e6dc";
}

.icon-notice:before {
  content: "\e6de";
}

.icon-arrow:before {
  content: "\e6df";
}

.icon-material:before {
  content: "\e6d9";
}

.icon-develop:before {
  content: "\e6db";
}

.icon-logo1:before {
  content: "\e6d8";
}

.icon-logo2:before {
  content: "\e6d6";
}

.icon-cube:before {
  content: "\e6d7";
}

.icon-renovate:before {
  content: "\e6d2";
}

.icon-record:before {
  content: "\e6d3";
}

.icon-quit:before {
  content: "\e6d4";
}

.icon-about:before {
  content: "\e6d5";
}

.icon-checkin:before {
  content: "\e6cd";
}

.icon-checkout:before {
  content: "\e6ce";
}

.icon-cancelcheckin:before {
  content: "\e6cf";
}

.icon-upload:before {
  content: "\e6d0";
}

.icon-encoded:before {
  content: "\e6d1";
}

.icon-dropdown:before {
  content: "\e6c6";
}

.icon-password:before {
  content: "\e6c7";
}

.icon-address:before {
  content: "\e6c8";
}

.icon-show:before {
  content: "\e6c9";
}

.icon-product:before {
  content: "\e6ca";
}

.icon-hide:before {
  content: "\e6cb";
}

.icon-user:before {
  content: "\e6cc";
}

