@font-face {
  font-family: "iconfont"; /* Project id 3188056 */
  src: url('iconfont.woff2?t=1677803391180') format('woff2'),
       url('iconfont.woff?t=1677803391180') format('woff'),
       url('iconfont.ttf?t=1677803391180') format('truetype'),
       url('iconfont.svg?t=1677803391180#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-front-recommend:before {
  content: "\e7fe";
}

.icon-front-file-blue:before {
  content: "\e6f0";
}

.icon-front-document-blue:before {
  content: "\e7a1";
}

.icon-front-top-readingmode:before {
  content: "\e6ef";
}

.icon-front-top-MPNchange:before {
  content: "\e6ee";
}

.icon-front-recovery:before {
  content: "\e7fd";
}

.icon-front-UploadCheckin:before {
  content: "\e7a4";
}

.icon-front-nopermission:before {
  content: "\e6eb";
}

.icon-front-top-stc:before {
  content: "\ea66";
}

.icon-front-healthstatus:before {
  content: "\e7fc";
}

.icon-front-task:before {
  content: "\e7fb";
}

.icon-front-top-milepost:before {
  content: "\e7f6";
}

.icon-front-project1:before {
  content: "\e7f9";
}

.icon-front-stage:before {
  content: "\e7fa";
}

.icon-front-health:before {
  content: "\e7f4";
}

.icon-front-Ascending:before {
  content: "\e7f3";
}

.icon-front-movedown:before {
  content: "\e7f5";
}

.icon-front-moveup:before {
  content: "\e7f7";
}

.icon-front-Descending:before {
  content: "\e7f8";
}

.icon-front-fivedays:before {
  content: "\e7f1";
}

.icon-front-sixdays:before {
  content: "\e7f2";
}

.icon-front-calendar:before {
  content: "\e7f0";
}

.icon-front-update:before {
  content: "\e7ee";
}

.icon-front-Utilization:before {
  content: "\e7ef";
}

.icon-front-homesearch:before {
  content: "\e7ed";
}

.icon-signatureSettings:before {
  content: "\e7ec";
}

.icon-front-department:before {
  content: "\e7eb";
}

.icon-arrow-left:before {
  content: "\ea65";
}

.icon-front-confirm:before {
  content: "\e6e6";
}

.icon-front-toplayout:before {
  content: "\e7c0";
}

.icon-a-front-newpasswordblue:before {
  content: "\e7e4";
}

.icon-a-front-VerifyPasswordblue:before {
  content: "\e7e5";
}

.icon-a-front-Authenticationblue:before {
  content: "\e7e6";
}

.icon-a-front-Authenticationgrey:before {
  content: "\e7e7";
}

.icon-a-front-newpasswordgrey:before {
  content: "\e7e8";
}

.icon-a-front-VerifyPasswordgrey:before {
  content: "\e7e9";
}

.icon-a-front-logoonchain:before {
  content: "\e7e3";
}

.icon-front-Onlineediting:before {
  content: "\e7e2";
}

.icon-a-front-plmlogoblue:before {
  content: "\e7e1";
}

.icon-a-front-signinVerificationCode:before {
  content: "\e7e0";
}

.icon-a-front-previewerror:before {
  content: "\e7df";
}

.icon-front-TreeView:before {
  content: "\e7de";
}

.icon-front-Y-axis:before {
  content: "\e7dd";
}

.icon-a-front-Cancelresponsibleperson:before {
  content: "\e7dc";
}

.icon-front-logo:before {
  content: "\e7db";
}

.icon-a-front-plmlogo:before {
  content: "\e7da";
}

.icon-onchainnew:before {
  content: "\e7d9";
}

.icon-front-typespectrum:before {
  content: "\e7d8";
}

.icon-front-recycle:before {
  content: "\e7d7";
}

.icon-a-front-signinpassword:before {
  content: "\e7d6";
}

.icon-front-hand:before {
  content: "\e7d4";
}

.icon-a-front-Processcancel:before {
  content: "\e7d3";
}

.icon-front-actioncancel1:before {
  content: "\e7d0";
}

.icon-front-refuse1:before {
  content: "\e7d1";
}

.icon-front-Submit1:before {
  content: "\e7d2";
}

.icon-front-PersonalCenter-user:before {
  content: "\e7cf";
}

.icon-a-front-Batchchange:before {
  content: "\e7ce";
}

.icon-a-front-productcomparison:before {
  content: "\e7cb";
}

.icon-front-PersonalCenter-control:before {
  content: "\e7cc";
}

.icon-front-PersonalCenter-quit:before {
  content: "\e7cd";
}

.icon-front-refuse:before {
  content: "\e7ca";
}

.icon-a-front-actioncancel:before {
  content: "\e6fd";
}

.icon-front-Submit:before {
  content: "\e7c9";
}

.icon-front-Processcancel:before {
  content: "\e7c8";
}

.icon-front-Processrelease:before {
  content: "\e7c4";
}

.icon-front-Processstart:before {
  content: "\e7c7";
}

.icon-front-Endofprocess:before {
  content: "\e7c5";
}

.icon-front-Inprocess:before {
  content: "\e7c6";
}

.icon-front-Addapprover:before {
  content: "\e7c3";
}

.icon-front-advancedsetting:before {
  content: "\e7c2";
}

.icon-front-pop-upconfirm:before {
  content: "\e7c1";
}

.icon-a-front-pageup:before {
  content: "\e7be";
}

.icon-a-front-pagedown:before {
  content: "\e7bf";
}

.icon-front-fixed:before {
  content: "\e7b1";
}

.icon-a-front-fitscreen:before {
  content: "\e7b2";
}

.icon-front-download:before {
  content: "\e7b3";
}

.icon-front-cursor:before {
  content: "\e7b4";
}

.icon-front-measure:before {
  content: "\e7b5";
}

.icon-front-favorites:before {
  content: "\e7b6";
}

.icon-a-front-upsidedown:before {
  content: "\e7b7";
}

.icon-front-fullscreen:before {
  content: "\e7b8";
}

.icon-front-flip:before {
  content: "\e7b9";
}

.icon-front-Z-axis:before {
  content: "\e7ba";
}

.icon-front-snapshot:before {
  content: "\e7bb";
}

.icon-front-thumbnail:before {
  content: "\e7bc";
}

.icon-front-hide:before {
  content: "\e7bd";
}

.icon-front-helpmini:before {
  content: "\e7b0";
}

.icon-front-Authorizationtransfer:before {
  content: "\e7ad";
}

.icon-front-unlock:before {
  content: "\e7ae";
}

.icon-front-resetpassword:before {
  content: "\e7af";
}

.icon-front-showall1:before {
  content: "\e7ac";
}

.icon-front-fileopen:before {
  content: "\e7ab";
}

.icon-front-switch:before {
  content: "\e7a9";
}

.icon-front-add1:before {
  content: "\e7aa";
}

.icon-front-emoji:before {
  content: "\e7a8";
}

.icon-a-front-Versioncomparison:before {
  content: "\e7a7";
}

.icon-front-top-ec1:before {
  content: "\e7a2";
}

.icon-front-top-eco1:before {
  content: "\e7a3";
}

.icon-front-top-ecr1:before {
  content: "\e7a5";
}

.icon-front-top-sup1:before {
  content: "\e7a6";
}

.icon-front-saveas:before {
  content: "\e79e";
}

.icon-front-cancel:before {
  content: "\e79f";
}

.icon-front-viewmodification:before {
  content: "\e7a0";
}

.icon-a-front-Createchangeorder:before {
  content: "\e79b";
}

.icon-front-Addchanges:before {
  content: "\e79c";
}

.icon-a-front-Createchangerequest:before {
  content: "\e79d";
}

.icon-front-role:before {
  content: "\e79a";
}

.icon-front-top-eco:before {
  content: "\e6ad";
}

.icon-front-top-pr:before {
  content: "\e6ea";
}

.icon-front-top-ap1:before {
  content: "\e6ec";
}

.icon-front-top-sup:before {
  content: "\e6ed";
}

.icon-front-top-manufacture1:before {
  content: "\e797";
}

.icon-front-top-com:before {
  content: "\e798";
}

.icon-front-top-ecr:before {
  content: "\e799";
}

.icon-front-done:before {
  content: "\e796";
}

.icon-front-termination:before {
  content: "\e795";
}

.icon-front-release:before {
  content: "\e794";
}

.icon-front-taskstart:before {
  content: "\e792";
}

.icon-front-examine:before {
  content: "\e793";
}

.icon-im:before {
  content: "\e791";
}

.icon-message:before {
  content: "\e717";
}

.icon-front-close:before {
  content: "\e718";
}

.icon-query:before {
  content: "\e719";
}

.icon-batchAdd:before {
  content: "\e71a";
}

.icon-edit:before {
  content: "\e71b";
}

.icon-save:before {
  content: "\e71c";
}

.icon-abutDelete:before {
  content: "\e71d";
}

.icon-disable:before {
  content: "\e71e";
}

.icon-add:before {
  content: "\e71f";
}

.icon-update:before {
  content: "\e720";
}

.icon-action:before {
  content: "\e721";
}

.icon-interfaceTab:before {
  content: "\e722";
}

.icon-lifephase:before {
  content: "\e723";
}

.icon-attributeSort:before {
  content: "\e724";
}

.icon-replace:before {
  content: "\e725";
}

.icon-functionExtend:before {
  content: "\e726";
}

.icon-userList:before {
  content: "\e727";
}

.icon-userGroup:before {
  content: "\e728";
}

.icon-defaultValue:before {
  content: "\e729";
}

.icon-roles:before {
  content: "\e72a";
}

.icon-privilege:before {
  content: "\e72b";
}

.icon-applyType:before {
  content: "\e72c";
}

.icon-workflow:before {
  content: "\e72d";
}

.icon-listValue:before {
  content: "\e72e";
}

.icon-detail:before {
  content: "\e72f";
}

.icon-whereused:before {
  content: "\e730";
}

.icon-isRequired2:before {
  content: "\e731";
}

.icon-delete:before {
  content: "\e732";
}

.icon-viewInfo:before {
  content: "\e733";
}

.icon-childLevel:before {
  content: "\e734";
}

.icon-childType:before {
  content: "\e735";
}

.icon-PropertySettings:before {
  content: "\e736";
}

.icon-attributeTab:before {
  content: "\e737";
}

.icon-forcedOffline:before {
  content: "\e738";
}

.icon-test:before {
  content: "\e739";
}

.icon-addLeader:before {
  content: "\e73a";
}

.icon-setLeader:before {
  content: "\e73b";
}

.icon-transferDept:before {
  content: "\e73c";
}

.icon-transferRole:before {
  content: "\e73d";
}

.icon-retoreDelete:before {
  content: "\e73e";
}

.icon-cancel:before {
  content: "\e73f";
}

.icon-addGroups:before {
  content: "\e740";
}

.icon-history:before {
  content: "\e741";
}

.icon-import:before {
  content: "\e742";
}

.icon-export:before {
  content: "\e743";
}

.icon-logout:before {
  content: "\e744";
}

.icon-personSetting:before {
  content: "\e745";
}

.icon-publicAttribute:before {
  content: "\e746";
}

.icon-privateAttribute:before {
  content: "\e747";
}

.icon-referenceType:before {
  content: "\e748";
}

.icon-narrow:before {
  content: "\e749";
}

.icon-enlarge:before {
  content: "\e74a";
}

.icon-isRequired:before {
  content: "\e74b";
}

.icon-hasValue:before {
  content: "\e74c";
}

.icon-hasDraft:before {
  content: "\e74d";
}

.icon-hasPrivilege:before {
  content: "\e74e";
}

.icon-hasWorkflow:before {
  content: "\e74f";
}

.icon-hasType:before {
  content: "\e750";
}

.icon-isUsed:before {
  content: "\e751";
}

.icon-hasUsers:before {
  content: "\e752";
}

.icon-hasUserGroup:before {
  content: "\e753";
}

.icon-hasWhereUsed:before {
  content: "\e754";
}

.icon-isOnline:before {
  content: "\e755";
}

.icon-insertPicture:before {
  content: "\e756";
}

.icon-spot:before {
  content: "\e757";
}

.icon-hook:before {
  content: "\e758";
}

.icon-italics:before {
  content: "\e759";
}

.icon-underLine:before {
  content: "\e75a";
}

.icon-H:before {
  content: "\e75b";
}

.icon-code:before {
  content: "\e75c";
}

.icon-number:before {
  content: "\e75d";
}

.icon-link:before {
  content: "\e75e";
}

.icon-bolder:before {
  content: "\e75f";
}

.icon-reference:before {
  content: "\e760";
}

.icon-tips:before {
  content: "\e761";
}

.icon-preview:before {
  content: "\e762";
}

.icon-hasRoles:before {
  content: "\e763";
}

.icon-referenceConditions:before {
  content: "\e764";
}

.icon-singleRow:before {
  content: "\e765";
}

.icon-doubleRow:before {
  content: "\e766";
}

.icon-insertTable:before {
  content: "\e767";
}

.icon-zip:before {
  content: "\e768";
}

.icon-vssx:before {
  content: "\e769";
}

.icon-accdb:before {
  content: "\e76a";
}

.icon-xsn:before {
  content: "\e76b";
}

.icon-pub:before {
  content: "\e76c";
}

.icon-prt:before {
  content: "\e76d";
}

.icon-onetoc:before {
  content: "\e76e";
}

.icon-spo:before {
  content: "\e76f";
}

.icon-pptx:before {
  content: "\e770";
}

.icon-Outlook:before {
  content: "\e771";
}

.icon-dwg:before {
  content: "\e772";
}

.icon-defaultFile:before {
  content: "\e773";
}

.icon-txt:before {
  content: "\e774";
}

.icon-png:before {
  content: "\e775";
}

.icon-jpg:before {
  content: "\e776";
}

.icon-pdf:before {
  content: "\e777";
}

.icon-xlsx:before {
  content: "\e778";
}

.icon-enable:before {
  content: "\e779";
}

.icon-resetPassword:before {
  content: "\e77a";
}

.icon-front-uploadFail:before {
  content: "\e77b";
}

.icon-uploadSuccess:before {
  content: "\e77c";
}

.icon-uploading:before {
  content: "\e77d";
}

.icon-lock:before {
  content: "\e627";
}

.icon-defaultFilter:before {
  content: "\e77e";
}

.icon-enterpriseSetting:before {
  content: "\e77f";
}

.icon-conditionSetting:before {
  content: "\e780";
}

.icon-baseSetting:before {
  content: "\e781";
}

.icon-exteanFunction:before {
  content: "\e782";
}

.icon-roleManage:before {
  content: "\e783";
}

.icon-upperFilter:before {
  content: "\e784";
}

.icon-lowerFilter:before {
  content: "\e785";
}

.icon-privilegeManage:before {
  content: "\e786";
}

.icon-userManage:before {
  content: "\e787";
}

.icon-logs:before {
  content: "\e788";
}

.icon-typeSetting:before {
  content: "\e789";
}

.icon-organization:before {
  content: "\e78a";
}

.icon-index:before {
  content: "\e78b";
}

.icon-workflow1:before {
  content: "\e78c";
}

.icon-systemSetting:before {
  content: "\e78d";
}

.icon-OnChain:before {
  content: "\e78e";
}

.icon-front-oneday:before {
  content: "\e60d";
}

.icon-front-sevendays:before {
  content: "\e78f";
}

.icon-front-thirtydays:before {
  content: "\e790";
}

.icon-password:before {
  content: "\e70d";
}

.icon-verify:before {
  content: "\e70e";
}

.icon-email:before {
  content: "\e70f";
}

.icon-showPassword:before {
  content: "\e710";
}

.icon-hidePassword:before {
  content: "\e711";
}

.icon-lower:before {
  content: "\e712";
}

.icon-expand:before {
  content: "\e713";
}

.icon-upper:before {
  content: "\e714";
}

.icon-menu:before {
  content: "\e715";
}

.icon-setting:before {
  content: "\e716";
}

.icon-front-sortlist:before {
  content: "\e70b";
}

.icon-a-front-showall:before {
  content: "\e70c";
}

.icon-front-inchange:before {
  content: "\e6f5";
}

.icon-front-user:before {
  content: "\e6d5";
}

.icon-front-usergroup:before {
  content: "\e6e7";
}

.icon-front-downloadpdf:before {
  content: "\e709";
}

.icon-front-content-openmode:before {
  content: "\e70a";
}

.icon-front-rightbar-paste:before {
  content: "\e708";
}

.icon-front-saveedits:before {
  content: "\e707";
}

.icon-front-web:before {
  content: "\e705";
}

.icon-front-default:before {
  content: "\e706";
}

.icon-front-columnheader:before {
  content: "\e636";
}

.icon-front-advancesearch:before {
  content: "\e673";
}

.icon-front-move:before {
  content: "\e704";
}

.icon-front-remove:before {
  content: "\e64d";
}

.icon-front-bluecube:before {
  content: "\e600";
}

.icon-front-content-folder:before {
  content: "\e701";
}

.icon-front-content-open1:before {
  content: "\e702";
}

.icon-front-back:before {
  content: "\e6fe";
}

.icon-front-edit:before {
  content: "\e6ff";
}

.icon-front-wait:before {
  content: "\e700";
}

.icon-front-automatictpass:before {
  content: "\e6fb";
}

.icon-front-pass:before {
  content: "\e6fc";
}

.icon-front-rightbar-reduction:before {
  content: "\e6fa";
}

.icon-front-top-supplier1:before {
  content: "\e6f9";
}

.icon-front-error:before {
  content: "\e6f8";
}

.icon-front-clean:before {
  content: "\e6f7";
}

.icon-front-messageread:before {
  content: "\e6f6";
}

.icon-front-search:before {
  content: "\e6f3";
}

.icon-front-inventory-filter:before {
  content: "\e6f4";
}

.icon-front-content-sort:before {
  content: "\e6f2";
}

.icon-front-content-open:before {
  content: "\e6f1";
}

.icon-front-top-ap:before {
  content: "\e6e8";
}

.icon-front-top-ec:before {
  content: "\e6e9";
}

.icon-front-individualization:before {
  content: "\e6e5";
}

.icon-front-upload:before {
  content: "\e7d5";
}

.icon-front-document1:before {
  content: "\e6e4";
}

.icon-front-designfile:before {
  content: "\e6e3";
}

.icon-front-top-document:before {
  content: "\e6c0";
}

.icon-front-top-designfile:before {
  content: "\e6c1";
}

.icon-front-createchanges:before {
  content: "\e6e1";
}

.icon-front-enable:before {
  content: "\e6e2";
}

.icon-front-add:before {
  content: "\e6a7";
}

.icon-front-export:before {
  content: "\e6e0";
}

.icon-front-appendix:before {
  content: "\e6df";
}

.icon-front-position:before {
  content: "\e6de";
}

.icon-front-relation:before {
  content: "\e6dd";
}

.icon-front-fillup:before {
  content: "\e622";
}

.icon-front-filldown:before {
  content: "\e6dc";
}

.icon-front-leftbar-library:before {
  content: "\e611";
}

.icon-front-label:before {
  content: "\e610";
}

.icon-front-rightbar-saveas1:before {
  content: "\e60f";
}

.icon-front-fangda:before {
  content: "\64";
}

.icon-front-suoxiao:before {
  content: "\e60e";
}

.icon-front-charubiaoge:before {
  content: "\e60c";
}

.icon-front-dian:before {
  content: "\e60b";
}

.icon-front-charutupian:before {
  content: "\e601";
}

.icon-front-jiacu:before {
  content: "\e602";
}

.icon-front-lianjie:before {
  content: "\e603";
}

.icon-front-gou:before {
  content: "\e604";
}

.icon-front-H:before {
  content: "\e605";
}

.icon-front-yinyong:before {
  content: "\e606";
}

.icon-front-code:before {
  content: "\e607";
}

.icon-front-huaxian:before {
  content: "\e608";
}

.icon-front-shuzi:before {
  content: "\e609";
}

.icon-front-qingxie:before {
  content: "\e60a";
}

.icon-front-merge:before {
  content: "\e6db";
}

.icon-front-viewversion:before {
  content: "\e6da";
}

.icon-front-borrow:before {
  content: "\e6d4";
}

.icon-front-content-filldown:before {
  content: "\e6c4";
}

.icon-front-content-tableproperties:before {
  content: "\e6c5";
}

.icon-front-content-multiplechoice:before {
  content: "\e6c8";
}

.icon-front-rightbar-share1:before {
  content: "\e6c9";
}

.icon-front-rightbar-void:before {
  content: "\e6ca";
}

.icon-stretch:before {
  content: "\e6cb";
}

.icon-front-ringhtbar-submit:before {
  content: "\e6cc";
}

.icon-front-rightbar-copy:before {
  content: "\e6c3";
}

.icon-front-folder-part:before {
  content: "\e6b0";
}

.icon-front-folder-document:before {
  content: "\e6b1";
}

.icon-front-folder-documentation:before {
  content: "\e6c2";
}

.icon-front-rightbar-rename:before {
  content: "\e6be";
}

.icon-front-rightbar-delete1:before {
  content: "\e6a2";
}

.icon-front-rightbar-saveas:before {
  content: "\e6bf";
}

.icon-front-rightbar-transferowner:before {
  content: "\e6a4";
}

.icon-front-rightbar-newlybuild:before {
  content: "\e6a1";
}

.icon-front-rightbar-edit:before {
  content: "\e6a3";
}

.icon-front-rightbar-delete:before {
  content: "\e69f";
}

.icon-front-rightbar-complete:before {
  content: "\e69e";
}

.icon-front-rightbar-cancel:before {
  content: "\e686";
}

.icon-front-rightbar-checkin:before {
  content: "\e6d0";
}

.icon-front-rightbar-cancelcheckout:before {
  content: "\e6d1";
}

.icon-front-rightbar-checkout:before {
  content: "\e6d2";
}

.icon-front-rightbar-download:before {
  content: "\e6d3";
}

.icon-front-rightbar-preview:before {
  content: "\e6d6";
}

.icon-front-rightbar-share:before {
  content: "\e6d7";
}

.icon-front-rightbar-createchanges:before {
  content: "\e6d8";
}

.icon-front-rightbar-print:before {
  content: "\e6d9";
}

.icon-front-content-attributeinformation:before {
  content: "\e6cd";
}

.icon-front-content-iconorder:before {
  content: "\e6ce";
}

.icon-front-content-listorder:before {
  content: "\e6cf";
}

.icon-front-rightbar-clipbrd1:before {
  content: "\e6c7";
}

.icon-a-front-leftbar-todo:before {
  content: "\e6c6";
}

.icon-front-leftbar-clipboard:before {
  content: "\e6aa";
}

.icon-front-content-cancel:before {
  content: "\e6bd";
}

.icon-front-content-saveas:before {
  content: "\e6bc";
}

.icon-front-content-add:before {
  content: "\e6bb";
}

.icon-front-content-collapse:before {
  content: "\e6ba";
}

.icon-front-inventory-model:before {
  content: "\e6b9";
}

.icon-front-content-edit:before {
  content: "\e6b8";
}

.icon-front-topnav-type1:before {
  content: "\e6b7";
}

.icon-front-top-change:before {
  content: "\e6ab";
}

.icon-front-top-manufacture:before {
  content: "\e6ac";
}

.icon-front-top-request:before {
  content: "\e6ae";
}

.icon-front-top-project:before {
  content: "\e6af";
}

.icon-front-top-part:before {
  content: "\e6b2";
}

.icon-front-top-user:before {
  content: "\e6b3";
}

.icon-front-top-manufacturepart:before {
  content: "\e6b4";
}

.icon-front-top-usergroup:before {
  content: "\e6b5";
}

.icon-front-top-supplier:before {
  content: "\e6b6";
}

.icon-front-content-newlybuild:before {
  content: "\e69c";
}

.icon-front-pop-select:before {
  content: "\e699";
}

.icon-front-content-picture:before {
  content: "\e679";
}

.icon-front-content-viewall:before {
  content: "\e694";
}

.icon-front-contentf-filter:before {
  content: "\e695";
}

.icon-front-content-search:before {
  content: "\e696";
}

.icon-front-inventory-left-newlybuild:before {
  content: "\e697";
}

.icon-front-pop-close:before {
  content: "\e698";
}

.icon-front-pop-unselect:before {
  content: "\e69a";
}

.icon-front-inventory-homepage:before {
  content: "\e69b";
}

.icon-front-inventory-product:before {
  content: "\e69d";
}

.icon-front-inventory-details:before {
  content: "\e6a0";
}

.icon-front-inventory-projectdata:before {
  content: "\e6a5";
}

.icon-front-inventory-spectrumandteam:before {
  content: "\e6a6";
}

.icon-front-inventory-productdata:before {
  content: "\e6a8";
}

.icon-front-inventory-qualitydata:before {
  content: "\e6a9";
}

.icon-front-leftbar-search:before {
  content: "\e654";
}

.icon-front-leftbar-notice:before {
  content: "\e693";
}

.icon-front-topnav-advancedsearch:before {
  content: "\e67f";
}

.icon-front-rightbar-addapprovers:before {
  content: "\e687";
}

.icon-front-rightbar-approve:before {
  content: "\e688";
}

.icon-front-rightbar-forward:before {
  content: "\e689";
}

.icon-front-rightbar-clipbrd:before {
  content: "\e68a";
}

.icon-front-rightbar-batchselection:before {
  content: "\e68b";
}

.icon-front-rightbar-reject:before {
  content: "\e68c";
}

.icon-front-rightbar-delapprover:before {
  content: "\e68d";
}

.icon-front-rightbar-open:before {
  content: "\e68e";
}

.icon-front-rightbar-back:before {
  content: "\e68f";
}

.icon-front-right-collection:before {
  content: "\e690";
}

.icon-front-rightbar-transfer:before {
  content: "\e691";
}

.icon-front-rightbar-urge:before {
  content: "\e692";
}

.icon-front-todo-today:before {
  content: "\e681";
}

.icon-front-todo-all:before {
  content: "\e682";
}

.icon-front-todo-lastweek:before {
  content: "\e683";
}

.icon-front-todo-yesterday:before {
  content: "\e684";
}

.icon-front-todo-longer:before {
  content: "\e685";
}

.icon-front-topnav-avatar:before {
  content: "\e680";
}

.icon-front-topnav-type:before {
  content: "\e67d";
}

.icon-front-common-dropdown:before {
  content: "\e67e";
}

.icon-front-leftbar-inventory:before {
  content: "\e650";
}

.icon-front-leftbar-home:before {
  content: "\e651";
}

.icon-front-leftbar-subscribe:before {
  content: "\e652";
}

.icon-front-leftbar-browse:before {
  content: "\e653";
}

.icon-front-leftbar-todo:before {
  content: "\e655";
}

.icon-front-leftbar-folder:before {
  content: "\e676";
}

.icon-front-leftbar-help:before {
  content: "\e67a";
}

.icon-front-leftbar-collect:before {
  content: "\e67b";
}

.icon-front-leftbar-dashboard:before {
  content: "\e67c";
}

.icon-front-suoping:before {
  content: "\e64e";
}

.icon-front-supplier:before {
  content: "\31";
}

.icon-front-fuzhi3:before {
  content: "\e64f";
}

.icon-front-bianji:before {
  content: "\e678";
}

.icon-front-biaoji:before {
  content: "\e677";
}

.icon-front-liaotianfasong:before {
  content: "\e628";
}

.icon-front-duoxuanmoren1:before {
  content: "\e672";
}

.icon-front-duoxuanxuanzhong1:before {
  content: "\e674";
}

.icon-front-danxuanxuanzhong1:before {
  content: "\e675";
}

.icon-front-morenwenjian1:before {
  content: "\e660";
}

.icon-front-dwg:before {
  content: "\e661";
}

.icon-front-onetoc:before {
  content: "\e662";
}

.icon-front-zip:before {
  content: "\e663";
}

.icon-front-vssx:before {
  content: "\e664";
}

.icon-front-jpg:before {
  content: "\e665";
}

.icon-front-prt:before {
  content: "\e666";
}

.icon-front-xsn:before {
  content: "\e667";
}

.icon-front-xlsx:before {
  content: "\e668";
}

.icon-front-txt:before {
  content: "\e669";
}

.icon-front-pptx:before {
  content: "\e66a";
}

.icon-front-Outlook:before {
  content: "\e66b";
}

.icon-front-pdf:before {
  content: "\e66c";
}

.icon-front-spo:before {
  content: "\e66d";
}

.icon-front-docx:before {
  content: "\e66e";
}

.icon-front-accdb:before {
  content: "\e66f";
}

.icon-front-pub:before {
  content: "\e670";
}

.icon-front-png:before {
  content: "\e671";
}

.icon-front-morenwenjian:before {
  content: "\e65f";
}

.icon-front-xia-mian:before {
  content: "\e65a";
}

.icon-front-shang-mian:before {
  content: "\e65b";
}

.icon-front-you-mian:before {
  content: "\e65c";
}

.icon-front-you-xian:before {
  content: "\e65d";
}

.icon-front-xia-xian:before {
  content: "\e65e";
}

.icon-front-you-mian-copy:before {
  content: "\e7ea";
}

.icon-front-guanbi:before {
  content: "\e656";
}

.icon-front-fujian:before {
  content: "\e657";
}

.icon-front-suolvetu:before {
  content: "\e658";
}

.icon-front-shiyongweizhi:before {
  content: "\e659";
}

.icon-front-xiaoxi:before {
  content: "\e647";
}

.icon-front-gaojisousuo:before {
  content: "\e648";
}

.icon-front-liaotian:before {
  content: "\e649";
}

.icon-front-cebianzhankai:before {
  content: "\e64a";
}

.icon-front-sousuo1:before {
  content: "\e64b";
}

.icon-front-cebianshouqi:before {
  content: "\e64c";
}

.icon-front-cebianshouqi-copy:before {
  content: "\e703";
}

.icon-front-houtuiyibu:before {
  content: "\e642";
}

.icon-front-niantie1:before {
  content: "\e643";
}

.icon-front-qianjinyibu:before {
  content: "\e644";
}

.icon-front-fuzhi2:before {
  content: "\e645";
}

.icon-front-xinzeng1:before {
  content: "\e646";
}

.icon-front-lishijilu:before {
  content: "\e63c";
}

.icon-front-bangzhu:before {
  content: "\e63d";
}

.icon-front-jianqieban:before {
  content: "\e63e";
}

.icon-front-wenjian:before {
  content: "\e63f";
}

.icon-front-shezhi:before {
  content: "\e640";
}

.icon-front-shoucang:before {
  content: "\e641";
}

.icon-front-chanpinqingdan:before {
  content: "\e612";
}

.icon-front-chanpinshuju:before {
  content: "\e613";
}

.icon-front-change:before {
  content: "\e614";
}

.icon-front-baocun:before {
  content: "\e615";
}

.icon-front-sousuo:before {
  content: "\e616";
}

.icon-front-shanchu:before {
  content: "\e617";
}

.icon-front-daibanshixiang:before {
  content: "\e618";
}

.icon-front-quxiao:before {
  content: "\e619";
}

.icon-front-shangxiabuju:before {
  content: "\e61a";
}

.icon-front-jujue:before {
  content: "\e61b";
}

.icon-front-fuzhi:before {
  content: "\e61c";
}

.icon-front-xiangxiashouqi:before {
  content: "\e61d";
}

.icon-front-tuandui:before {
  content: "\e61e";
}

.icon-front-gexinghua:before {
  content: "\e61f";
}

.icon-front-pizhun1:before {
  content: "\e620";
}

.icon-front-quxiaopiliangcaozuo:before {
  content: "\e621";
}

.icon-front-item:before {
  content: "\e623";
}

.icon-front-document:before {
  content: "\e624";
}

.icon-front-xingpu:before {
  content: "\e625";
}

.icon-front-project:before {
  content: "\e626";
}

.icon-front-xiangshangzhankai:before {
  content: "\e629";
}

.icon-front-piliangcaozuo:before {
  content: "\e62a";
}

.icon-a-front-wenjianjia2:before {
  content: "\e62b";
}

.icon-front-wenjianjiadakai:before {
  content: "\e62c";
}

.icon-front-zhuye:before {
  content: "\e62d";
}

.icon-front-tidailiao:before {
  content: "\e62e";
}

.icon-front-zuoyoubuju:before {
  content: "\e62f";
}

.icon-front-niantie:before {
  content: "\e630";
}

.icon-front-wenjianjia:before {
  content: "\e631";
}

.icon-front-xiangqing:before {
  content: "\e632";
}

.icon-front-ziliaoxiazai:before {
  content: "\e633";
}

.icon-front-zhuanqian:before {
  content: "\e634";
}

.icon-front-xiangzuoshouqi:before {
  content: "\e635";
}

.icon-front-ziliaoshangchuan:before {
  content: "\e637";
}

.icon-front-xiangyouzhankai:before {
  content: "\e638";
}

.icon-front-manufacturer:before {
  content: "\e639";
}

.icon-front-yibiaopan:before {
  content: "\e63a";
}

.icon-front-mpn:before {
  content: "\e63b";
}

