@font-face {
  font-family: "iconfont"; /* Project id 3929567 */
  src: url('iconfont.woff2?t=1678521880942') format('woff2'),
       url('iconfont.woff?t=1678521880942') format('woff'),
       url('iconfont.ttf?t=1678521880942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e6dd";
}

.icon-file:before {
  content: "\e6e0";
}

.icon-delete:before {
  content: "\e6e1";
}

.icon-fold:before {
  content: "\e6e2";
}

.icon-search:before {
  content: "\e6e3";
}

.icon-a-Materialwarehouse:before {
  content: "\e6e4";
}

.icon-add:before {
  content: "\e6e5";
}

.icon-link:before {
  content: "\e6dc";
}

.icon-notice:before {
  content: "\e6de";
}

.icon-arrow:before {
  content: "\e6df";
}

.icon-material:before {
  content: "\e6d9";
}

.icon-close:before {
  content: "\e6da";
}

.icon-develop:before {
  content: "\e6db";
}

.icon-logo1:before {
  content: "\e6d8";
}

.icon-logo2:before {
  content: "\e6d6";
}

.icon-cube:before {
  content: "\e6d7";
}

.icon-renovate:before {
  content: "\e6d2";
}

.icon-record:before {
  content: "\e6d3";
}

.icon-quit:before {
  content: "\e6d4";
}

.icon-about:before {
  content: "\e6d5";
}

.icon-checkin:before {
  content: "\e6cd";
}

.icon-checkout:before {
  content: "\e6ce";
}

.icon-cancelcheckin:before {
  content: "\e6cf";
}

.icon-upload:before {
  content: "\e6d0";
}

.icon-encoded:before {
  content: "\e6d1";
}

.icon-dropdown:before {
  content: "\e6c6";
}

.icon-password:before {
  content: "\e6c7";
}

.icon-address:before {
  content: "\e6c8";
}

.icon-show:before {
  content: "\e6c9";
}

.icon-product:before {
  content: "\e6ca";
}

.icon-hide:before {
  content: "\e6cb";
}

.icon-user:before {
  content: "\e6cc";
}

