@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100% !important;
  overflow: hidden;
  /* font-size: 12px; */
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  color: #2c3652;
}

.second-color {
  color: #dfe9f5;
}

/* antd input */
.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector {
  border-radius: 2px;
}

.ant-select-selector {
  border: 1px solid #e9ebed;
  border-radius: 2px !important;
}

.ant-input-affix-wrapper {
  height: 32px;
}
.ant-input {
  color: #2c3652 !important;
  font-size: 12px !important;
}
.ant-input-affix-wrapper .ant-input-prefix,
.ant-input::placeholder {
  color: #dfe9f5;
  font-size: 12px;
}

.ant-select-selection-search-input {
  font-size: 12px !important;
}
.ant-form-item .ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-select-selection-placeholder {
  color: #dfe9f5 !important;
  font-size: 12px !important;
}
.ant-select-selection-item,
.ant-select-item-option-content {
  font-size: 12px;
  color: #2c3652;
  display: flex;
  align-items: center;
  font-weight: 400;
}
select {
  font-size: 12px !important;
}

.ant-form-item {
  margin-bottom: 18px !important;
}

/* 字体图标 */
/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
} */

.login-btn.ant-btn-default:not(:disabled):hover {
  color: #dfe9f5;
}

.login-select .ant-select-selection-search {
  padding-left: 20px;
}

.basic-attr .ant-form-item {
  margin-bottom: 12px !important;
}

.basic-attr .ant-form-item .ant-form-item-label > label::after {
  right: -12px !important;
}

.basic-attr .ant-form-item .ant-form-item-label > label {
  line-height: 22px;
  text-align: left;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-input-number,
.ant-picker {
  width: 100%;
}
.ant-picker-input >input{
  font-size: 12px !important;
  color: #646464 !important;
}

.basic-attr .ant-form-item .ant-form-item-control-input {
  min-height: 22px;
}
.basic-attr .ant-form-item,
.basic-attr .ant-row,
.basic-attr .ant-col .basic-attr .ant-form-item-control-input-content,
.basic-attr .ant-input,
.basic-attr .ant-select,
.basic-attr .ant-select-selector,
.basic-attr .ant-select-selection-search,
.basic-attr .ant-select-selection-search-input,
.basic-attr .ant-input-number-input-wrap,
.basic-attr .ant-input-number-handler-wrap,
.basic-attr .ant-input-number-input,
.basic-attr .label,
.basic-attr .ant-picker,
.basic-attr .ant-picker-input {
  height: 22px !important;
}

.basic-attr .ant-input-number,
.basic-attr .ant-picker {
  border-radius: 0px;
}
