@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100% !important;
  overflow: hidden;
  /* font-size: 12px; */
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  color: #2c3652;
  user-select: none;
  color: #2c3652;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

* ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.second-color {
  color: #dfe9f5;
}

/* antd input */
.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector {
  border-radius: 2px;
}

.ant-select-selector {
  border: 1px solid #e9ebed;
  border-radius: 2px !important;
}

.ant-input-affix-wrapper {
  height: 32px;
}
.ant-input {
  color: #2c3652 !important;
  font-size: 12px !important;
}
.ant-input-affix-wrapper .ant-input-prefix,
.ant-input::placeholder {
  color: #cdcdcd;
  font-size: 12px;
}

.ant-select-selection-search-input {
  font-size: 12px !important;
}
.ant-form-item .ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-select-selection-placeholder {
  color: #dfe9f5 !important;
  font-size: 12px !important;
}
.ant-select-selection-item,
.ant-select-item-option-content {
  font-size: 12px;
  color: #2c3652;
  display: flex;
  align-items: center;
  font-weight: 400;
}
select {
  font-size: 12px !important;
}

.ant-form-item {
  margin-bottom: 18px !important;
}

.ant-collapse-content-box {
  padding: 0px !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0px;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0px !important;
}
.ant-collapse-expand-icon {
  padding-right: 8px !important;
  margin-left: 11px;
}

.ant-collapse-header {
  border-bottom: 1px solid #e0e0e0 !important;
}

/* 字体图标 */
/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
} */

.login-btn.ant-btn-default:not(:disabled):hover {
  color: #dfe9f5;
}

.login-select .ant-select-selection-search {
  padding-left: 20px;
}

.basic-attr .ant-form-item {
  margin-bottom: 8px !important;
}

.basic-attr .ant-form-item .ant-form-item-label > label::after {
  right: -12px !important;
}

.basic-attr .ant-form-item .ant-form-item-label > label {
  line-height: 22px;
  text-align: left;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-input-number,
.ant-picker {
  width: 100%;
}
.ant-input,
.ant-input-number-input {
  -webkit-user-select: text !important;
}
.ant-picker-input > input {
  font-size: 12px !important;
  color: #646464 !important;
}

.basic-attr .ant-form-item .ant-form-item-control-input {
  min-height: 22px;
}
.basic-attr .ant-form-item,
.basic-attr .ant-row,
.basic-attr .ant-col .basic-attr .ant-form-item-control-input-content,
.basic-attr .ant-input,
.basic-attr .ant-select,
.basic-attr .ant-select-selector,
.basic-attr .ant-select-selection-search,
.basic-attr .ant-select-selection-search-input,
.basic-attr .ant-input-number-input-wrap,
.basic-attr .ant-input-number-handler-wrap,
.basic-attr .ant-input-number-input,
.basic-attr .label,
.basic-attr .ant-picker,
.basic-attr .ant-picker-input {
  height: 22px !important;
}

.basic-attr .ant-input-number,
.basic-attr .ant-picker {
  border-radius: 0px;
}

.table-checkbox .ant-radio-inner {
  background-color: #d0d0d0 !important;
  border: none !important;
  border-style: none !important;
}
.table-checkbox .ant-table-row-selected td:not(.ant-table-selection-column) {
  background-color: #d4eafd !important;
}
.table-checkbox .table_row_drag_hoving td {
  background-color: #d4eafd !important;
}
.table-checkbox .ant-table-selection {
  height: 100%;
  width: 100%;
}
.table-checkbox .ant-checkbox-input:hover {
  border: none;
}
.table-checkbox .ant-checkbox-inner:hover {
  border: none;
}

.table-checkbox .ant-checkbox-checked::after {
  border: 1px solid transparent;
  content: none;
}
.table-checkbox
  .ant-checkbox-wrapper
  .ant-checkbox:not(.ant-checkbox-disabled):not(.ant-checkbox-checked)
  .ant-checkbox-inner {
  border-color: transparent;
  background-color: transparent;
}
.table-checkbox .ant-checkbox-disabled .ant-checkbox-inner {
  border-radius: 0px;
}
.table-checkbox table tr th.ant-table-selection-column,
.table-checkbox table tr td.ant-table-selection-column {
  padding: 0px !important;
  background-color: #d0d0d0 !important;
}

.table-checkbox .ant-table-body .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #d0d0d0;
}

.table-checkbox .ant-table-thead .ant-checkbox-disabled .ant-checkbox-inner {
  background: none;
}

.table-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  border-color: transparent;
  border-radius: 0px;
}

.table-checkbox .ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: transparent;
}
.table-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  display: none;
}
.table-checkbox .ant-table-selection,
.table-checkbox .ant-checkbox-wrapper,
.table-checkbox .ant-checkbox,
.table-checkbox .ant-checkbox-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main .ant-table-wrapper {
  /* border: 1px solid #cdcdcd !important; */
}

.main .ant-table-wrapper .ant-table-column-sorter-inner {
  /* scale: 0.8; */
  margin-block: 0px;
  margin-inline: 0px;
}

.main .ant-table-wrapper .ant-table-column-sorter,
.main .ant-table-filter-trigger {
  display: flex;
}

.main .ant-table-filter-trigger {
  /* scale: 0.8; */
  margin-block: 0px;
  margin-inline: 0px;
}

* ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
* ::-webkit-scrollbar-thumb {
  /* background: #4e8d8f; */
  background: #e8e8e8;
  border-radius: 0px;
}
* ::-webkit-scrollbar-thumb {
  /* background: #4e8d8f; */
  background: #e8e8e8;
  border-radius: 2px;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}
* ::-webkit-scrollbar-track {
  background: linear-gradient(270deg, #ffffff, #ededed 100%);
  border-radius: 0;
  padding: 0px;
  box-shadow: 0;
}

.main ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.main ::-webkit-scrollbar-thumb {
  /* background: #4e8d8f; */
  background: #e8e8e8;
  border-radius: 0px;
}
.main ::-webkit-scrollbar-thumb {
  /* background: #4e8d8f; */
  background: #e8e8e8;
  border-radius: 2px;
}
.main ::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}
.main ::-webkit-scrollbar-track {
  background: linear-gradient(270deg, #ffffff, #ededed 100%);
  border-radius: 0;
  padding: 0px;
  box-shadow: 0;
}
.main .ant-table-body {
  background: #fff;
}

.main .ant-table-wrapper .ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none !important;
}

.main .ant-table-cell-scrollbar {
  border: none;
}

.main .ant-table-thead > tr > th {
  background-color: #f1f1f1 !important;
  color: #2c3652 !important;
}

.main .ant-table-wrapper .ant-table-column-sorter,
.main .ant-table-filter-trigger {
  color: #cdcdcd;
}

.main .ant-table-thead > tr > th:nth-last-child(2) {
  border-right: #2c3652 !important;
}

.main .ant-checkbox-checked .ant-checkbox-inner {
  background: #0563b2 !important;
}

.tree-table .ant-table-thead {
  display: none;
}

.tree-table .ant-table-wrapper {
  border: none !important;
}
.main .tree-table.ant-table-wrapper {
  /* border: none !important; */
}

.main .ant-table-cell {
  font-size: 12px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  /* text-align: left; */
  color: #2c3652;
  line-height: 18px;
}

.main .ant-table-tbody > tr:not(.ant-table-measure-row) > td {
  height: 24px !important;
}

.main .tree-table .ant-table-tbody > tr.ant-table-row-selected > td {
  border: none !important;
  background: #ecedf0 !important;
}

.main .ant-table .ant-table-placeholder td {
  background: #fff !important;
}

.anticon {
  font-size: 10px !important;
}

.tree-table .ant-table-cell-with-append > div {
  display: flex;
}

.tree-table .ant-table-cell {
  border: none !important;
}

.tree-table .ant-table-cell .ant-table-cell-with-append {
  border: none !important;
}

.plm-loading {
  left: 50%;
  top: 50%;
  box-shadow: 0px 4px 12px 0px rgba(54, 81, 138, 0.3);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 120px;
  z-index: 99999999;
  background: #ffffff;
  border-radius: 2px;
}

.anticon-caret-right {
  color: #cdcdcd;
}

td .anticon-caret-right {
  margin-right: 4px;
}

td .anticon-caret-down {
  margin-right: 4px;
}

.ant-spin-dot {
  font-size: 32px !important;
}

.ant-dropdown .ant-table-filter-dropdown {
  border-radius: 0px;
}

.ant-dropdown .ant-table-filter-dropdown .ant-btn {
  border-radius: 0px;
}

.ant-dropdown .ant-table-filter-dropdown .ant-btn-primary {
  background: #0563b2;
}

.ant-dropdown .ant-table-filter-dropdown .ant-btn-primary:hover {
  background: #0563b2;
  opacity: 0.8;
}

.ant-dropdown .ant-table-filter-dropdown .ant-btn > span {
  display: inline-flex;
}

a {
  color: #0563b2 !important;
}

a:hover {
  opacity: 0.9;
}

.tree-table .ant-table-tbody > tr > td:not(:nth-last-child(1)) {
  border: none !important;
}

.row-tool {
  opacity: 0;
  transition: opacity 0.2s;
}

.tree-table .ant-table-tbody > tr:hover .row-tool {
  opacity: 1;
}

.main .tree-table .ant-table-tbody > tr > td:not(:nth-last-child(1)) {
  border: none !important;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.transitionAll {
  transition: all 0.3s;
}
.tableRoot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tableRoot .table {
  width: calc(50% - 5px);
  height: 100%;
}
.tableRoot .table .table_head {
  font-size: 12px;
  height: 30px;
  box-sizing: border-box;
  padding: 6px 10px;
  background: #f0f0f0;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e3ebf6;
  border-bottom: 0;
}
.tableRoot .table .table_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  overflow-y: scroll;
}
.tableRoot .table .table_content .left_table_item {
  display: flex;
  flex-direction: row;
  justify-content: left !important;
  flex-wrap: nowrap;
}
.tableRoot .table .table_content .table_root_item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  color: #333333;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.tableRoot .table .table_content .table_item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  color: #333333;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.tableRoot .table .table_content .table_item .mateLabel {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.tableRoot .table .table_content .table_item .mateLabel > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tableRoot .table .table_content .table_item .mateLabel .mateText {
  margin: 0 5px;
}
.tableRoot .table .table_content .table_item .mateLabel .clearMate:hover {
  color: #e91f1f;
}
.tableRoot .table .table_content .table_item .filedName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tableRoot .table .table_content .table_item .mateText {
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0563b2;
}
.tableRoot .table .table_content .activeItem {
  background: #ddeffe;
}
.tableRoot .table .table_content .table_item:hover {
  background: #e0e0e0;
}
.tableRoot .table .table_content .activeItem:hover {
  background: #ddeffe;
}
.tableRoot .table .table_content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: none;
}
.tableRoot .table .table_content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
}
.tableRoot .table .table_content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
}
.hiddenHeader .frontend-collapse-header {
  display: none !important;
}

img {
  pointer-events: none !important;
}

.main .ant-table tr > td:not(:nth-last-child(1)) {
  border-right: none !important;
}
.main .ant-table-thead > tr > th:not(:last-child):not(:first-child) {
  border-right: 1px solid #cdcdcd !important;
}
.main .ant-table-wrapper:not(.tree-table) .ant-table-tbody > tr > td {
  border-bottom: 1px solid #cdcdcd !important;
}

.ant-checkbox-wrapper {
  background-color: #e8e8e8;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0px !important;
  height: 24px;
  background: linear-gradient(180deg, #f1f1f1 0%, #cdcdcd 100%);
}
.ant-tabs-top .ant-tabs-tab {
  /* padding: 0px 8px; */
  font-size: 12px;
}
.ant-tabs-nav-wrap {
  margin-left: 8px !important;
}

.leftBorder {
  position: relative;
}
.leftBorder::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px !important;
  height: 100%;
  width: 2px;
  background-color: #0563b2;
}

.ant-input-disabled {
  border: none !important;
  background: #fff !important;
  padding: 0px;
  overflow: hidden;
  opacity: 1 !important;
  text-overflow: ellipsis;
  font-size: 12px !important;
  font-family: PingFang SC, PingFang SC-Regular !important;
  font-weight: 400 !important;
  color: #000000 !important;
  cursor: auto !important;
}
.ant-table {
  /* border: 1px solid #CDCDCD !important; */
  border-radius: 0px !important;
}

.main .ant-table-wrapper {
  border: 1px solid #cdcdcd !important;
}

.table-checkbox .ant-table-thead .ant-checkbox-disabled .ant-checkbox-inner {
  border: none !important;
  border-radius: 0px !important;
}
.ant-select-item-option-selected,
.ant-select-dropdown {
  border-radius: 0px !important;
}

.table_content {
  border: 1px solid #cdcdcd !important;
  background-color: #fff;
}
.table_content .table_item {
  background-color: #fff;
  border-bottom: 1px solid #cdcdcd !important;
}

.main .ant-table-column-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
}
